/* app css stylesheet */
body {
	background: #666;
	color: #fff;
}

* {
	user-select: none;
	-webkit-user-select: none;
}

[ng-click] {
	cursor: pointer;
}

.taskbar{
	position: fixed;
	bottom:0;
	padding: 0;
	background: rgba(0,0,0,.8);
	color: #fff;
	width: 100%;	
}

.taskbar .bar {
	display: inline-block;
}

.taskbar .bar>li>a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
}

.taskbar .bar.applications>li>a {
	height: 32px;
	width: 32px;
	padding: 8px;
}

.taskbar .bar.applications>li>a i {
	font-size: 32px;
}

.taskbar .bar.notifications {
	position: absolute;
	right:0;
}

.taskbar .bar.notifications>li>a {
	height: 24px;
	width: 24px;
	padding: 12px;
}
.taskbar .bar.notifications>li>a i {
	font-size: 20px;
}

.taskbar .bar>li>a:hover {
	background: rgba(255,255,255,.5);
}

.taskbar .bar>li {
	display: inline-block;
	padding:0;
	margin:0;
}

.content {
	margin: 10px;
}

.sj-window {
	position: absolute;
	box-shadow: 0 3px 15px -5px rgb(64,64,64);
	z-index: 0;
}
.sj-window.active {
	z-index: 99;
}

.sj-window > .sj-window-body {
}

.sj-window > .sj-window-body > .sj-window-title {	
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	color: rgb(64,64,64);
	position: relative;	
}
.sj-window > .sj-window-body > .sj-window-title > .sj-window-controls {
	position: absolute;
	right:10px;
	top:0px;
}

.sj-window > .sj-window-body > .sj-window-title > .sj-window-controls > .control {

}

.sj-window > .sj-window-body > .sj-window-title > .sj-window-controls > .control i {
	font-size: 24px;
}

.sj-window > .sj-window-body > .sj-window-content {	
	background: #fff;
	color: rgb(64,64,64);
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(.5, .5, .5);
  }
}


@keyframes fadeIn {
  0% {
  	opacity: 0;
    transform: scale3d(.5, .5, .5);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.sj-window-opening {
	animation-name: fadeIn;
	animation-duration: .3s;
}

.sj-window-closing {
  animation-name: fadeOut;
  animation-duration: .3s;
}

markdown  {
	padding: 10px;
}
markdown h1 {
	font-size: 34px;
}