/* app css stylesheet */

html {	
	font-family: "Open Sans", "Arial", "sans"
}

body {
	background: #666;
	color: #fff;
}

* {
	user-select: none;
	-webkit-user-select: none;
}

[ng-click] {
	cursor: pointer;
}